{%if page.tags contains 'report' or page.tags contains 'paper' or page.enable_citation_button %}
  {% assign enable_citation_button = true %}
{% endif %}

<div class="article-head {% if banner.type == 'regular' %}regular-banner{% endif %}">
  <div class="article-head-content">
    <div class="banner">
      <div class="banner-img-wrapper">
        <img src="{% if banner.image %}{{ banner.image | relative_url }}{% else %}{{ page.image | relative_url }}{% endif %}"/>
      </div>
    </div>
    <div class="summary">
      <div class="summary-main">
        {% if banner.supertitle %}
          <h5 class="summary-supertitle">{{ banner.supertitle }}</h5>
        {% endif %}
        <div class="summary-title">
          <h1>{{ page.title }}</h1>
          {%if enable_citation_button %}<a class="cite-us"><i class="bi-journal-text"></i> Cite post</a>{% endif %}
        </div>
        {% if page.authors %}
        <div class="summary-authors">
          {% assign authors = page.authors %}
          {% include author_list.html %}
        </div>
        {% endif %}
        {% if page.description %}
        <div class="summary-abstract">
          {{ page.description }}
        </div>
        {% endif %}
        {% if banner.resources %}
          <div class="article-resources">
            {% for resource in banner.resources %}
            <a class="article-resource" href="{{resource.url | relative_url}}">{% if resource.icon %}<i class="bi bi-{{resource.icon}}"></i>{% endif %}{{resource.label}}</a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      {% unless banner.hide_date %}
      <div class="summary-footer">
        {{ page.date | date: "%b. %d, %Y" }}
      </div>
      {% endunless %}
    </div>
  </div>
</div>

{%if enable_citation_button %}

{% capture plainAuthors %}
  {%- if page.authors.size <= 3 -%}
    {{-page.authors | map: 'name' | better_join: ", ", " and "-}}
  {%- else -%}
    {{-page.authors | map: 'name' | first}} et al.
  {%- endif -%}
{%- endcapture %}

{% capture citation_box %}
<p style="margin-bottom: 0">Cite this work as</p>

<div class="language-plaintext highlighter-rouge wrappable-pre">
<div class="highlight">
  <pre class="highlight"><code>{{plainAuthors}} ({{page.date | date: "%Y" }}), "{{page.title}}". <em>Published online at {{site.domain}}.</em> Retrieved from: '{{page.url | absolute_url}}' [online resource]</code></pre>
</div>
</div>

<p style="margin-bottom: 0">BibTeX citation:</p>

```
@misc{epoch{%if page.bibtexId%}{{page.bibtexId}}{%else%}{{ page.date | date: "%Y" }}{{ page.slug | replace: '-' , ''}}{%endif%},
  title = "{{page.title}}",
  author = {%raw%}{{%endraw%}{{ page.authors | map: 'name' | better_join: ', ', " and " }}{%raw%}}{%endraw%},
  year = {{ page.date | date: "%Y" }},
  howpublished = "\\url{%raw%}{{%endraw%}{{page.url | absolute_url }}{%raw%}}{%endraw%}",
  note = "Accessed: {{ site.time | date: "%Y-%m-%d" }}"
}
```
{% endcapture %}

<script>
  let content = `
    {{ citation_box | markdownify }}
  `;

  tippy('.cite-us', {
    allowHTML: true,
    placement: 'bottom-start',
    arrow: false,
    interactive: true,
    maxWidth: '900px',
    trigger: 'click',
    content: content,
    onShow: (instance) => {
      instance.popper.classList.add('citation-tooltip');
      tippy.hideAll();
      instance.popper.querySelectorAll('pre').forEach(pre => addCopyButton(pre));
    },
  });
</script>
{% endif %}
