{% assign processedAuthors = '' | split: '' %}
{% for author in authors %}

  {% assign url = %}
  {% if author.url %}
    {% assign url = author.url %}
  {% else %}
    {% assign member = site.data.team | where: "name", author.name | first %}
    {% if member %}
      {% assign url = member.id %}
    {% endif %}
  {% endif %}

  {% capture authorNode %}
    {% if url %}
      {% assign mail = %}
      {% for _resource in member.resources %}
        {% assign resource = _resource | first %}
        {% assign resource_name = resource[0] %}
        {% assign resource_url = resource[1] %}
        {% if resource_name == 'mail' %}
          {% assign mail = resource_url %}
        {% endif %}
      {% endfor %}

      <span class="author {% if mail %}tooltiped{% endif %}" data-member-id="{{member.id}}">{{author.name}}</span>
    {% else %}
      <span class="author">{{author.name}}</span>
    {% endif %}
  {% endcapture %}

  {% assign processedAuthors = processedAuthors | push: authorNode %}
{% endfor %}

{{processedAuthors | better_join: ", ", " and "}}

<script src="/assets/js/umbrella.min.js"></script>
<style>
  .author.tooltiped {
    cursor: pointer;
  }

  .summary-authors .tippy-content {
    width: 180px;
    padding: 5px;
  }

  .mug {
    width: 180px;
    height: 180px;
    background-size: cover;
    background-position: center;
  }

  .member a {
    color: black;
    text-decoration: none;
  }

  .member-resource {
    margin-right: 5px;
  }

  .member-info {
    padding: 4px;
    width: 180px;
  }

  .member-name, .member-role {
    margin-bottom: 2px;
  }
</style>

{% include scripts/team_members.html %}

<script>
  for (let author of document.querySelectorAll('.author.tooltiped')) {
    let member = teamMembers[author.dataset.memberId];
    if (!member) continue;

    let resources = [];
    for (let resource of member.resources) {
      resources.push(`<a class="member-resource" href="${resource.url}"><i class="bi bi-${resource.icon}"></i></a>`);
    }

    tippy(author, {
      allowHTML: true,
      placement: 'top',
      arrow: false,
      interactive: true,
      maxWidth: '200px',
      trigger: 'mouseenter click',
      onShow: () => {
        tippy.hideAll();
      },
      content:
        `
        <div class="member">
          <div class="mug" style="border-radius: 5px; background-image: url('${member.imageUrl}')"></div>
          <div class="member-info">
            <h3 class="member-name">${member.name}</h3>
            <h4 class="member-role">${member.role}</h4>
            <div class="member-resources">
              ${resources.join('\n')}
            </div>
          </div>
        </div>
        `,
    });
  }
</script>
