{% assign processedAuthors = '' | split: '' %}
{% for author in authors %}

  {% if author.url %}
    {% assign url = author.url %}
  {% else %}
    {% assign member = site.data.team | where: "name", author.name | first %}
    {% if member %}
      {% assign url = member.id %}
    {% endif %}
  {% endif %}

  {% capture link %}
    {% if url %}
      {% for _resource in member.resources %}
        {% assign resource = _resource | first %}
        {% assign resource_name = resource[0] %}
        {% assign resource_url = resource[1] %}
        {% if resource_name == 'mail' %}
          {% assign mail = resource_url %}
        {% endif %}
      {% endfor %}

      <span class="author {% if mail %}tooltiped{% endif %}" data-member-mail="{{mail}}" data-member-name="{{member.name}}" data-member-role="{{member.role}}" data-member-id="{{member.id}}">{{author.name}}</span>
    {% else %}
      <span class="author">{{author.name}}</span>
    {% endif %}
  {% endcapture %}

  {% assign processedAuthors = processedAuthors | push: link %}
{% endfor %}

{{processedAuthors | better_join: ", ", " and "}}

<script src="/assets/bundles/compute-calculator/libs/umbrella.min.js"></script>
<style>
  .author.tooltiped {
    cursor: pointer;
  }

  .tippy-content {
    width: 180px;
    padding: 5px;
  }

  .mug {
    width: 180px;
    height: 180px;
    background-size: cover;
    background-position: center;
  }

  .member a {
    color: black;
    text-decoration: none;
  }

  .member-info {
    padding: 4px;
    width: 180px;
  }

  .member-name, .member-role {
    margin-bottom: 2px;
  }
</style>
<script>
/*
    // Fixed tooltip
    tippy(document.querySelector('.summary-authors'), {
      content: 'foobar',
      triggerTarget: [...document.querySelectorAll('.author.tooltiped')],
      theme: 'calculator',
      allowHTML: true,
      interactive: true,
      arrow: false,
      maxWidth: '200px',
      placement: 'top',
      onTrigger: (instance, e) => {
        let author = e.target;
        instance.setProps({
          content: 
            `
            <div class="member">
              <div class="mug" style="border-radius: 5px; background-image: url('/assets/images/team/${author.dataset.memberId}.jpg')"></div>
              <div class="member-info">
                <h3 class="member-name">${author.dataset.memberName}</h3>
                <h4 class="member-role">${author.dataset.memberRole}</h4>
                <div class="member-resources">
                  <a class="" href="${author.dataset.memberMail}"><i class="bi bi-envelope"></i></a>
                </div>
              </div>
            </div>
            `,
        });
      },
    });
*/
  for (let author of document.querySelectorAll('.author.tooltiped')) {
    tippy(author, {
      allowHTML: true,
      placement: 'top',
      arrow: false,
      interactive: true,
      maxWidth: '200px',
      trigger: 'mouseenter click',
      onShow: () => {
        tippy.hideAll();
      },
      content:
        `
        <div class="member">
          <div class="mug" style="border-radius: 5px; background-image: url('/assets/images/team/${author.dataset.memberId}.jpg')"></div>
          <div class="member-info">
            <h3 class="member-name">${author.dataset.memberName}</h3>
            <h4 class="member-role">${author.dataset.memberRole}</h4>
            <div class="member-resources">
              <a class="" href="${author.dataset.memberMail}"><i class="bi bi-envelope"></i></a>
            </div>
          </div>
        </div>
        `,
    });
  }
</script>
