.research-grid {
  grid-template-columns: repeat(auto-fit, calc(min(100%, 310px)));
  grid-gap: 1.5em !important;
  justify-content: left;

  .member {
    padding: 10px;
    min-height: 300px;
    max-width: 300px;
    width: 100%;
    background-color: #e7e7e7;
    border-radius: var(--default-radius);
    box-sizing: border-box;
    border-style: none !important;

    text-decoration: none;
    overflow: hidden;

    .type {
      font-size: 14px;
    }

    .info-cdr {
      position: relative;
    }

    .hovered-text {
      opacity: 0;
    }

    .unhovered-text {
      opacity: 1;
    }

    .unhovered-text {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
    }

    .unhovered-text, .hovered-text  {
      transition: opacity 0.2s ease;
    }
  }

  .member.show-description-on-hover:hover {
    .hovered-text {
      opacity: 1;
    }

    .unhovered-text {
      opacity: 0;
    }
  }

  @media (hover: none) {
    /* For touch devices, show all data at once */
    .member:hover .hovered-text,
    .member:hover .unhovered-text,
    .hovered-text,
    .unhovered-text {
      opacity: 1;
      position: relative;
    }
  }
}

.box-list {
  .box-item {
    vertical-align: top;
    color: #111;
    padding: 10px 10px 10px 30px;
    //border: 2px solid #b9b9b9;
    //border-radius: var(--default-radius);

    &:hover {
      text-decoration: none;
    }
  }

  .box-item:not(:last-child) {
    margin-bottom: 3em;
  }

  .left-column {
    flex: auto;
    padding-right: 10px;
  }

  .right-column {
    flex: 0 0 41%;
    @media (max-width: 750px) {
      flex-basis: 0;
    }
    //min-width: 300px;
  }
}

.collection-grid {
  display: grid;
  grid-gap: 32px;
  vertical-align: top;
  grid-template-columns: repeat(auto-fit, minmax(250px, 31.5%));
  grid-auto-rows: 1fr;
  padding-bottom: 40px;

  img {
    max-height: 300px;
    max-width: 100%;
    display: block;
    border-radius: var(--default-radius);
  }
}
