---
---

body {
  --input-height: 31px;
  --input-valid-color: #398516;
  --input-invalid-color: #e88;
  --input-neutral-color: #666;
}

.method-container {
  //width: 70%;
  margin: auto;
  //display: flex;
  //justify-content: space-between;
  //flex-wrap: wrap;
  //align-items: stretch;
}

.method {
  /*
  input, .scientific-input, select {
    height: var(--input-height);
  }
  */

  //flex: 0 0 630px;
  max-width: 630px;
  //max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  background-color: #f0f3f4;
  box-sizing: content-box;
  border-radius: 4px;
  box-shadow: 0 0 5px 2px #666;
  padding: 10px;
  transition: 0.3s ease;
  //display: flex;
  flex-direction: column;

  &:hover {
    //box-shadow: 0 0 5px 3px #444;
    box-shadow: 0 0 5px 5px #666;
  }

  /*
  &:focus-within {
    box-shadow: 0 0 6px 6px #555;
  }
  */

  > .name {
    font-size: 19px;
    background-color: #651ae1;
    color: white;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 0.5em;
  }

  .description-wrapper {
    //overflow-x: auto;
    background-color: #ddd;
    border-radius: 5px;
  }

  .description {
    //background-color: #ddd;
    overflow-x: auto;
    padding: 10px;
    padding-left: 5px;
    padding-top: 2em;
    margin-bottom: 0.5em;
    padding-bottom: 0px;
    position: relative;
    white-space: nowrap;

    p {
      margin: 0;
    }
  }

  .formula {
    //overflow-x: auto;
    padding-bottom: 10px;
  }

  .lined-heading {
    overflow: hidden;

    > span {
      display: inline-block;
      position: relative;

      &::after {
        display: block;
        content: '';
        border-bottom: 1px solid #000;

        position: absolute;
        top: 0;
        left: 100%;
        right: 0;
        width: 100000px;

        height: 50%;
        margin-left: 1em;
      }
    }
  }

  .dumbs-inputs-wrapper {
    overflow-x: auto;
  }

  .inputs {
    border-radius: 5px;
    //background-color: #afa;
    padding: 5px 10px 5px 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: visible;

    .block {
      margin-bottom: 1.2em;
      display: inline-block;
      //flex: 1;
      flex: 100%;
      //white-space: nowrap;
      //margin-right: 1.3em;

      .name {
        color: #333;
        margin-bottom: 0.2em;
      }
    }
  }

  .units {
    margin-left: 0.3em;
  }

  .input-set {
    display: flex;
    //justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  .input-wrapper {
    flex: 30%;
    margin-top: 0.2em;

    .input-label {
      font-size: 0.8em;
      //top: 0.6em;
      //left: 0.6em;
      color: #444;
      background-color: #f0f3f4;
      position: relative;
      display: block;
      z-index: 1;
    }

    > * {
      display: block;
      max-width: 100%;
    }
  }

  select {
    padding: 7px;
    padding-left: 3px;
    border-radius: 5px;
    outline: none;
    //background-color: transparent;
    background-color: #fffa;
    border-color: #22a7;
    transition: 0.3s ease;
    box-sizing: content-box;

    &:focus {
      border-color: #22ae;
    }
  }

  input {
    border: 1px;
    //outline: none;
    padding: 7px;
    //background-color: transparent;
    background-color: #fffa;
    padding-left: 3px;
    //border-bottom: 1px solid grey;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 0.8em;

    &:focus {
      border-color: #22a;
    }

    &.small {
      width: 80px;
    }
  }

  input, select, .scientific-input {
    //transition: border-color 0.5s ease, outline-color 0.5s ease;
    border-width: 1px;
    outline-width: 1px;

    &:focus:not(:invalid):not(.valid) {
      outline-color: var(--input-neutral-color);
    }

    &:focus-within:not(.invalid):not(.valid) {
      outline-color: var(--input-neutral-color);
    }

    &:focus, &:focus-within {
      outline-style: auto !important;
    }

    &:invalid, &.invalid {
      border-color: var(--input-invalid-color);
      outline-color: var(--input-invalid-color) !important;
      &:focus, &:focus-within {
        outline-color: var(--input-invalid-color);
      }
    }

    &.valid {
      border-color: var(--input-valid-color);
      outline-color: var(--input-valid-color) !important;
      &:focus, &:focus-within {
        outline-color: var(--input-valid-color);
      }
    }
  }

  > .output {
    border-radius: 5px;
    //background-color: #faa;
    padding: 10px;
    padding-left: 5px;

    .result-number {
      float: right;
    }
  }

  .separator {
    width: 100%;
    border-bottom: 1px solid grey;
  }

  .output-separator {
    margin-top: auto;
  }

  .highlighted {
    &, * {
      color: #651ae1 !important;
    }
  }

  [data-group], [data-group] * {
  //.barfoo, .barfoo * {
    transition: color 0.3s ease;
  }

  .block-label {
    display: block;
    text-transform: uppercase;
    font-size: 0.7em;
    position: absolute;
    padding-top: 10px;
    padding-left: 5px;
    color: #444;
  }
}

#table-wrapper {
  border: 1px solid purple;
  margin-bottom: 1em;
  padding: 0.5em;
}

.quiet-text {
  font-size: 0.9em;
  color: #555;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.full-flex {
  flex: 100% !important;
}

.test {
  display: inline-flex;
  flex: 100%;

  label {
    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &:hover {
      background-color: #59c2db;
      span {
        color: #e2f0f7;
      }
    }

    &.active {
      //background-color: #651ae1;
      background-color: #18acd0;
      span {
        color: white;
      }
    }

    span {
      color: #18acd0;
      &:hover {
        color: #e2f0f7;
      }
      &.active {
        color: white;
      }
    }

    border: 1px solid #ced4da;
    &:not(:first-child) {
      border-left: none;
    }

    //width: 14em;
    font-size: 0.8em;
    padding: 0.3em;
    white-space: initial;
    background-color: white;
    font-weight: 700;
    transition: 0.2s ease;
    //background-color: #563889;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.invisible {
  display: none !important;
}

.text-like-input input {
  background-color: transparent;
  border-color: transparent !important;
}

.method2 {
  .inputs {
    //min-height: 23em;
  }
}

.info, .info:hover {
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.tippy-box[data-theme='calculator'] {
  --border-color: rgba(0, 0, 0, 0.2);

  background-color: white;
  border: 1px solid var(--border-color);
  color: black;

  &[data-placement^='top'] {
    > .tippy-arrow::before, > .tippy-arrow::after {
      border-color: transparent;
      border-width: 8px 8px 0;
      left: 0;
      content: "";
    }

    > .tippy-arrow::before {
      bottom: -8.5px;
      border-top-color: var(--border-color);
    }

    > .tippy-arrow::after {
      bottom: -7px;
      border-top-color: initial;
      transform-origin: center top;
      position: absolute;
      border-color: transparent;
      border-style: solid;

      border-top-color: white;
      border-bottom-color: blue;
    }
  }

  &[data-placement^='bottom'] {
    > .tippy-arrow::before, > .tippy-arrow::after {
      border-color: transparent;
      border-width: 0 8px 8px 8px;
      left: 0;
      content: "";
    }

    > .tippy-arrow::before {
      top: -8.5px;
      border-bottom-color: var(--border-color);
    }

    > .tippy-arrow::after {
      top: -7px;
      border-bottom-color: initial;
      transform-origin: center top;
      position: absolute;
      border-color: transparent;
      border-style: solid;

      border-bottom-color: white;
    }
  }


  /*
  &[data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: black;
    top: -8px;
  }
  &[data-placement^='bottom'] > .tippy-arrow::after {
    top: -7px;
    left: 0;
    border-width: 9px 8px 0;
    border-bottom-color: initial;
    transform-origin: center top;
    content: "";
    position: absolute;
    border-color: transparent;
    border-style: solid;

    border-bottom-color: white;
    border-top-color: blue;
  }
  */
}

.subtitle {
  font-size: 1;
  margin-bottom: 0.3em;
}

.scientific-input {
  --radius: 4px;

  display: inline-flex !important;
  width: 150px;
  border: 1px solid #aaa;
  border-radius: 4px;
  height: var(--input-height);
  box-sizing: content-box;
  background-color: white;

  &.invalid {
    //border-color: var(--input-invalid-color);
  }

  &.valid {
    border-color: var(--input-valid-color);
  }

  .minus-button, .plus-button {
    flex: 0 0 30px;
    border-style: none;
    background-color: #ddd;
    border-radius: 0;
    cursor: pointer;
    transition: 0.2s ease;
    //padding: 5px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    user-select: none;

    &:hover {
      color: white;
      background-color: #9b159b;
    }
  }

  .minus-button {
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
  }

  .plus-button {
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
  }

  &.small {
    //width: calc(80px + 2*30px);
    width: calc(60px + 2*30px);
  }

  input {
    flex: 1;
    width: 100%;

    &:focus {
      outline-style: none !important;
    }
    border-style: none;
    border-radius: 0;

    //outline: none;
    padding: 7px;
    background-color: #fffa;
    padding-left: 0.5em;
    padding-right: 0.5em;
    //border: 1px solid grey;
    font-size: 0.8em;
    height: 100%;
    box-sizing: border-box;
  }
}

// Disable spinners
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


.dropdown-wrapper {
  position: relative;
  display: inline-block;

  input {
    box-sizing: border-box;
  }
}

.dropdown {
  border: 1px solid #3335;
  border-radius: 5px;
  background-color: white;
  width: 100%;
  position: absolute;
  top: 32px;
  box-sizing: border-box;
  max-height: 100px;
  overflow-y: auto;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  z-index: 10;
}

.dropdown-inner {
  display: relative;
}

.dropdown-item {
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
  //color: #888;
  cursor: pointer;
  display: block;
}

.dropdown-item:not(:last-child) {
  border-bottom: 1px solid #aaa;
}

.highlighted-result {
  background-color: #7e00bf;
  color: white;
}

.dropdown-item:hover:not(.highlighted-result) {
  background-color: #8e30ff;
  color: white;
}
