---
---

$on-palm: 600px;
$max-content-width: 984px;
$max-article-content-width: 704px;
$hovered-link-color: #aaa;
$header-color: #231f20;
$header-color-rgb: 35, 31, 32;
$footer-color: #111;
$nav-bar-height: 54px;
$nav-bar-margin: 36px;
$nav-bar-margin: 36px;
$nav-bar-margin-palm: 15px;

@import
  "{{ site.theme }}",
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

:root {
  --hovered-link-color: #{$hovered-link-color};
  --header-color: #{$header-color};
  --footer-color: #{$footer-color};
  --nav-bar-height: #{$nav-bar-height};
  --nav-bar-margin: #{$nav-bar-margin};
}

body {
  font-family: Arial, sans-serif;
}

// Site header

.site-header { 
  border-top: 0;
  background-color: $header-color;
  min-height: 54px;
  border-bottom: 0;
}

.site-header a:hover, .site-header a:hover * {
  //color: $hovered-link-color;
  text-decoration: none;
}

.header-wrapper {
  margin-right: var(--nav-bar-margin);
  margin-left: var(--nav-bar-margin);
}

.site-title { 
  color: #fff; 
  font-weight: bold;
  float: left;

  &:visited {
    color: #fff;
  }
}

.header-icon {
  float: left;
  width: 40px;
  height: 40px;
  padding-top: 5px;
  margin-top: 0px;
  margin-right: 5px;
}

.header-logo {
  height: 45px;
}

.header-logo-text {
  height: 20px;
  margin-top: 17px;
}

.site-nav {
  font-weight: bold;

  .page-link {
    color: #fff;
    //margin-left: 0;
  }

  .current-menu-item {
    color: #bbb;
  }
}
  

// Site footer

.site-footer { 
  padding: 10px;
  background-color: $footer-color;
  text-align: center;

  padding-right: var(--nav-bar-margin);
  padding-left: var(--nav-bar-margin);

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .footer-icons-container {
    margin-left: auto;

    i {
      font-size: 1.3em;
      margin-left: 0.5em;
    }

    img {
      width: 21px;
    }

    @media (max-width: 670px) {
      & {
        margin-right: auto;
      }
    }
  }

  * {
    color: white;
  }

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
    &:hover {
      color: $hovered-link-color;
      text-decoration: none;
    }
  }
}

// Page content

.page-content {
  padding: $spacing-unit 0;
  margin-left: var(--nav-bar-margin);
  margin-right: var(--nav-bar-margin);
  font-style: normal;
  word-spacing: -1px;

  h1 {
    font-weight: bold;
    font-size: 30px;
  }
  
  h2 {
    font-weight: bold;
    font-size: 25px;
  }
  
  h3 {
    font-weight: bold;
    font-size: 20px;
  }
  
  h4 {
    font-weight: bold;
    font-size: 12px;
  }

  h1.page-heading {
    font-weight: bold;
    font-size: 40px;
  }

}

.post-meta {
  font-size: $base-font-size;
  color: #111;

  a.post-tag {
    color: grey;
    font-style: italic;
  }
}

.post-header {
  h1.page-heading {
    font-weight: bold;
    font-size: 40px;
  }
}

.post-excerpt {
  background-color: grey;
}

.post-content {

  h1 {
    font-weight: bold;
    font-size: 30px;
  }
  
  h2 {
    font-weight: bold;
    font-size: 25px;
  }
  
  h3 {
    font-weight: bold;
    font-size: 20px;
  }
  
  h4 {
    font-weight: bold;
    font-size: 12px;
  }
}

.collection-grid {
  display: grid;
  grid-gap: 32px;
  vertical-align: top;
  grid-template-columns: repeat(auto-fit, minmax(250px, 47.5%));
  grid-auto-rows: 1fr;
  padding-bottom: 40px;

  img {
    max-height: 300px;
    max-width: 100%;
    display: block;
    border-radius: 10%;
  }
}

.wrapper {
  max-width: $max-content-width;
  //margin-right: auto;
  //margin-left: auto;
  //margin-left: var(--nav-bar-margin);
  //margin-right: var(--nav-bar-margin);
  //padding: 0;

  padding-left: var(--nav-bar-margin);
  padding-right: var(--nav-bar-margin);
}

@media (max-width: $on-palm) {
  :root {
    --nav-bar-margin: #{$nav-bar-margin-palm};
  }

  .site-nav {
    z-index: 1;

    .page-link {
      color: black;
      margin-left: 0;
    }

    input:checked ~ .trigger {
      min-width: 110px;
    }

    border: 1px solid grey;
  }
}

.banner {
  width: 100%;
  text-align: center;

  img {
    width: 100%;
    margin-bottom: 2.5em;
  }
}

// Shortcuts

.uppercase {text-transform: uppercase;}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.order-0 {order: 0;}
.order-1 {order: 1;}
.order-2 {order: 2;}

.flex-bottom {
  margin-top: auto;
}

.grid {
  display: grid;
}

.one-column {
  grid-template-columns: 1fr;
}

.same-row-height {
  grid-auto-rows: 1fr;
}

.image-container img {
  max-width: 100%;
}

.shadow-on-hover {
  transition: box-shadow 0.2s ease;
  &:hover {
    box-shadow: 0 0 7px 0px #b9b9b9;
  }
}

@media (max-width: 750px) {
  .small-screen-flex-row {
    display: flex;
    flex-direction: row;
  }

  .small-screen-flex-column {
    display: flex;
    flex-direction: column;
  }

  .small-screen-order-0 {order: 0;}
  .small-screen-order-1 {order: 1;}
  .small-screen-order-2 {order: 2;}
}

// Misc
@media (hover: hover) {
  .move-left-on-hover {
    position: relative;

    &:hover {
      transform: translate(-4px, 0px);
    }

    transition: transform 0.3s ease;
  }
}

.button {
  color: black;
  font-size: 1.0rem;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;

  display: inline-block;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;

  &:hover {
    text-decoration: none;
    background-color: #00A5A6;
    color: white;
    border-color: transparent;
  }
}

// Post-imports
@import
  "grids"
;

