---
---

$max-content-width: 984px;
$hovered-link-color: #999;
$footer-color: #111;

@import
  "{{ site.theme }}",
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

:root {
  --hovered-link-color: #{$hovered-link-color};
  --footer-color: #{$footer-color};
}

body {
  font-family: Arial, sans-serif;
}

// Site header
.site-header { 
  border-top: 0;
  background-color: #231f20;
  min-height: 54px;
}

.site-header a:hover, .site-header a:hover * {
  color: $hovered-link-color;
  text-decoration: none;
}

.site-title { 
  color: #fff; 
  font-weight: bold;
  //line-height: $base-line-height * 1.5;
  float: left;

  &:visited {
    color: #fff;
    }
}

.site-nav {
  font-weight: bold;
  
  .page-link {
    color: #fff;
  }

}

// Site footer
.site-footer { 
  padding: 10px;
  background-color: $footer-color;
  text-align: center;

  p {
    margin: 0;
  }

  a {
    color: white;
    &:hover {
      color: $hovered-link-color;
      text-decoration: none;
    }
  }
}

// Page content

.page-content {
  padding: $spacing-unit 0;
  font-style: normal;
  word-spacing: -1px;

  h1 {
    font-weight: bold;
    font-size: 30px;
  }
  
  h2 {
    font-weight: bold;
    font-size: 25px;
  }
  
  h3 {
    font-weight: bold;
    font-size: 20px;
  }
  
  h4 {
    font-weight: bold;
    font-size: 12px;
  }

  h1.page-heading {
    font-weight: bold;
    font-size: 40px;
  }

}

.post-meta {
  font-size: $base-font-size;
  color: #111;

  a.post-tag {
    color: grey;
    font-style: italic;
  }
}

.post-header {
  h1.page-heading {
    font-weight: bold;
    font-size: 40px;
  }
}

.post-excerpt {
  background-color: grey;
}

.post-content {

  h1 {
    font-weight: bold;
    font-size: 30px;
  }
  
  h2 {
    font-weight: bold;
    font-size: 25px;
  }
  
  h3 {
    font-weight: bold;
    font-size: 20px;
  }
  
  h4 {
    font-weight: bold;
    font-size: 12px;
  }
}

.collection-grid {
  display: grid;
  grid-gap: 32px;
  vertical-align: top;
  grid-template-columns: repeat(auto-fit, minmax(250px, 47.5%));
  padding-bottom: 40px;

  img {
    max-height: 300px;
    max-width: 100%;
    display: block;
    border-radius: 10%;
  }
}

.wrapper {
  max-width: $max-content-width;
  margin-right: auto;
  margin-left: auto;
}

$on-palm: 600px;
@media (max-width: $on-palm) {
  .site-nav {
    z-index: 1;
    .page-link {
      color: black;
    }
  }
}
