<script>
  window.addEventListener('DOMContentLoaded', () => {
    for (let pre of document.querySelectorAll('pre')) {
      let button = document.createElement('button');
      pre.parentElement.appendChild(button);
      pre.parentElement.classList.add('copiable-wrapper');
      pre.classList.add('copy-target');
      button.classList.add('copy-button');
      button.innerHTML = '<i class="bi-clipboard"></i>';
    }

    for (let boxedText of document.querySelectorAll('.boxed-text')) {
      let wrapper = document.createElement('div');
      wrapper.classList.add('copiable-wrapper');
      boxedText.parentNode.insertBefore(wrapper, boxedText);
      wrapper.appendChild(boxedText);

      let button = document.createElement('button');
      boxedText.parentElement.appendChild(button);
      boxedText.parentElement.classList.add('copiable-wrapper');
      boxedText.classList.add('copy-target');
      button.classList.add('copy-button');
      button.innerHTML = '<i class="bi-clipboard"></i>';
    }

    let clipboard = new ClipboardJS('.copy-button', {
      target: function(trigger) {
        return trigger.parentElement.querySelector('.copy-target');
      },
    });

    let copiedTooltips = [];

    for (let button of document.querySelectorAll('.copy-button')) {
      let tooltip = tippy(button, {
        content: 'Copied',
        trigger: 'manual',
        placement: 'left',
        appendTo: button,
        arrow: false,
        offset: [1, -1],
      });
      copiedTooltips.push(tooltip);
    }

    clipboard.on('success', function(e) {
      e.clearSelection();

      let tooltip = copiedTooltips.find(t => t.reference == e.trigger);
      tooltip.show();
      setTimeout(() => tooltip.hide(), 800);
    });

    clipboard.on('error', function(e) {
      e.clearSelection();
    });
  });
</script>
