<script>

  {% for index in (0..1) %}

  {% case index %}
  {% when 0 %}
    {% assign variable = 'teamMembers' %}
    {% assign data = site.data.team %}
    {% assign imageDir = '/assets/images/team/' %}
  {% when 1 %}
    {% assign variable = 'advisors' %}
    {% assign data = site.data.advisor_board %}
    {% assign imageDir = '/assets/images/advisors/' %}
  {% endcase %}

  let {{variable}} = {
    {% for member in data %}
      '{{member.id}}': {
        id: '{{member.id}}',
        name: '{{member.name}}',
        description: '{{member.description}}',
        role: '{{member.role}}',
        imageUrl: '{{member.id | prepend: imageDir | append: '.jpg' | relative_url }}',
        resources: [
        {% for _resource in member.resources %}
          {% assign resource = _resource | first %}
          {% assign resource_name = resource[0] %}
          {% assign resource_url = resource[1] %}
          {% assign type = site.data.resource_types | where: "name", resource_name | first %}
          {% if resource_name == 'mail' %}
            {% assign resource_url = resource_url | obfuscate_mail %}
          {% endif %}
          {name: '{{resource_name}}', icon: '{{type.icon}}', url: '{{resource_url}}'},
        {% endfor %}
        ],
      },
    {% endfor %}
  };

  {% endfor %}

  let members = {...teamMembers, ...advisors};
</script>
