<!DOCTYPE html>

{% assign banner = page.banner %}
{% unless banner %}
{% assign banner = layout.banner %}
{% endunless %}

<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <head>
    <script src="{{ '/assets/js/distillpub/template.v2.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/distillpub/transforms.v2.js' | relative_url }}"></script>

    {% if banner %}
      {% include article_banner_head.html %}
    {% endif %}
  </head>

  <body>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="post distill">

        {% if banner %}
          {% include article_banner.html %}
        {% else %}
          <d-title>
            <h1>{{ page.title }}</h1>
          </d-title>
        {% endif %}

        <d-article>
          {% if page.toc -%}
          <d-contents>
            <nav class="l-text figcaption">
            <h3>Contents</h3>
              {%- if page.toc == 'auto' -%}
                {%- toc -%}
              {%- else -%}
                {%- for section in page.toc -%}
                  <div><a href="#{{ section.name | slugify }}">{{ section.name }}</a></div>
                  {% if section.subsections -%}
                  <ul>
                    {% for subsection in section.subsections -%}
                    <li><a href="#{{ subsection.name | slugify }}">{{ subsection.name }}</a></li>
                    {% endfor %}
                  </ul>
                  {%- endif -%}
                {%- endfor %}
              {%- endif -%}
            </nav>
          </d-contents>
          {%- endif %}

          {{ content }}
        </d-article>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
